/* Empty. Add your own CSS if you like */
div.leftspace{
    padding-left: 20px;
}
p{
    font:helvetica;
    font-size: large;
}
h3{
    font: helvetica;
    display: inline;
    margin-left: 10px;
}
.pcard{
    margin-top: 0px;
}
.profiletext{
    font: helvetica;
    text-align: center;
    margin-top: auto;
    font-size: large;
}
.Pedit{
    padding: 5px 5px;
    border: none;
    background-color: inherit;
    float: right;
    display: inline;
}
p:first-child{
    padding-top: 20px;

}

